<form action="https://app.99inbound.com/api/e/0Ow2SwEj" method="POST" target="_blank">
  <!-- <h2>Contact Us</h2> -->
  <div style="position: absolute; left: -5000px;">
    <input type="checkbox" name="free_range_ivory_wavy_building" value="1" tabindex="-1" autocomplete="no">
  </div>
  <p><input type="email" name="email" placeholder="Enter your email" required></p>
  <p><input type="text" name="name" placeholder="Enter your name" required></p>
  <p><textarea name="message" cols="40" rows="15"></textarea></p>
  <p><button>Submit</button></p>
</form>