/* Travelers-couple-look-at-the-m */
$adobe-1: (
  "color-1": #d9415d,  // Bright red-1
  "color-2": #395d73,  // Dark moderate blue-2
  "color-3": #6ba7bf,  // Slightly desaturated blue-3
  "color-4": #8c4130,  // Dark moderate red-4
  "color-5": #f2f2f2,  // Very light gray-5
);

/* Panoramic-Image-of-Grossglockn */
$adobe-2: (
  "color-1": #025e73,  // Dark cyan-1
  "color-2": #0396a6,  // Dark cyan-2
  "color-3": #a65b1b,  // Dark orange [Brown tone]-3
  "color-4": #59391d,  // Very dark orange [Brown tone]-4
  "color-5": #d9c1b8,  // Light grayish orange-5
);

/* Aurora-Borealis */
$adobe-3: (
  "color-1": #222559,  // Very dark blue-1
  "color-2": #4e52a6,  // Dark moderate blue-2
  "color-3": #175073,  // Dark blue-3
  "color-4": darken(#609bbf, 20%),  // Slightly desaturated blue-4
  "color-5": lighten(#6cd9d9, 30%),  // Soft cyan-5
);

/* Camping-in-the-mountains-under */
$adobe-4: (
  "color-1": #131a40,  // Very dark blue-1
  "color-2": #355b8c,  // Dark moderate blue-2
  "color-3": #081826,  // Very dark (mostly black) blue-3
  "color-4": darken(#17aebf, 15%),  // Strong cyan-4
  "color-5": lighten(#30f2f2, 45%),  // Bright cyan-5
);

/* Road-into-the-red-rock-desert- */
$adobe-5: (
  "color-1": #020873,  // Dark blue-1
  "color-2": #2128bf,  // Strong blue-2
  "color-3": #85bff2,  // Soft blue-3
  "color-4": #f2b705,  // Vivid yellow-4
  "color-5": #bf6c5a,  // Moderate red-5
);

/* Traveler-woman-looking-amazed- */
$adobe-6: (
  "color-1": #049dd9,  // Vivid blue-1
  "color-2": #04b2d9,  // Vivid cyan-2
  "color-3": #04bfbf,  // Strong cyan-3
  "color-4": #025920,  // Very dark cyan - lime green-4
  "color-5": #f20505,  // Vivid red-5
);

/* Image-related-to-unexplored-ro */
$adobe-7: (
  "color-1": #4d6f8c,  // Dark moderate blue-1
  "color-2": #f2bf80,  // Soft orange-2
  "color-3": #f2dcc2,  // Light grayish orange-3
  "color-4": #bf8563,  // Slightly desaturated orange-4
  "color-5": #402a22,  // Very dark desaturated orange-5
);

/* Stylish-trendy-hipster-woman-t */
$adobe-8: (
  "color-1": #0a0140,  // Very dark blue-1
  "color-2": #517ea6,  // Dark moderate blue-2
  "color-3": #c2e0f2,  // Light grayish blue-3
  "color-4": #d9aa71,  // Soft orange-4
  "color-5": lighten(#401809, 10%),  // Very dark orange [Brown tone]-5
);

/* Lapland-wilderness-panorama- */
$adobe-9: (
  "color-1": #66add9,  // Soft blue-1
  "color-2": #4c591e,  // Very dark yellow [Olive tone]-2
  "color-3": #99a63c,  // Dark moderate yellow-3
  "color-4": #735f22,  // Dark yellow [Olive tone]-4
  "color-5": #f2f2f2,  // Very light gray-5
);

