/* Travelers-couple-look-at-the-mountain-lake */
$Bright-red-1: #d9415d;
$Dark-moderate-blue-2: #395d73;
$Slightly-desaturated-blue-3: #6ba7bf;
$Dark-moderate-red-4: #8c4130;
$Very-light-gray-5: #f2f2f2;


/* Panoramic-Image-of-Grossglockner-Alpine-Road */
$Dark-cyan-1: #025e73;
$Dark-cyan-2: #0396a6;
$Dark-orange-Brown-tone-3: #a65b1b;
$Very-dark-orange-Brown-tone-4: #59391d;
$Light-grayish-orange-5: #d9c1b8;
