
@import "colors";
$theme-name: $adobe-3;

/***********
*  COLORS  *
************/
$bodyBackground: map-get($theme-name, "color-5");
$bodyColor: #000000;
$headerHeadingColor: map-get($theme-name, "color-1");
$headingsColor: map-get($theme-name, "color-3");
$linkColor: map-get($theme-name, "color-3");
$footerBackground: map-get($theme-name, "color-1");
$footerColor: map-get($theme-name, "color-5");
$hrBorderTop: map-get($theme-name, "color-1");
$navBackground: map-get($theme-name, "color-5");
$navColor: map-get($theme-name, "color-3" );
$cardBackground: #ffffff;
$border-shadow: map-get($theme-name, "color-3");
$reverseBackground: map-get($theme-name, "color-1");
$reverseColor: #ffffff;

// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

* {
  box-sizing: border-box;
}
body, html {
  font-size: 18px;
}
body {
  background-color: $bodyBackground;
  color: $bodyColor;
  // font-family: $bodyFont;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
header > h1 {
  // color: #4424D6;
  color: $headerHeadingColor;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: $headingsColor;
}
a {
  text-decoration: none;
}
/* a:hover MUST come after a:link and a:visited */
/* a:active MUST come after a:hover */
a:link, a:visited {
  color: inherit;
}
a:hover {
  color: $linkColor; // #4424D6;
  border-bottom: solid 3px $linkColor; // #4424D6;
}
nav.reverse-colors a:hover {
  color: inherit;
  border-bottom: solid 3px #ffffff;
}
// a.card {
//   width: 90vw;
// }
// a.card img {
//   max-width: calc(90vw - 2em);
// }
// @media (min-width: 500px) {
//   a.card {
//     max-width: calc(360px + 2em);
//   }
//   a.card img {
//     max-width: calc(360px + 2em);
//   }
// }
a:hover.card {
  border-bottom: none;
}
a:active {
  color: inherit;
}
article img {
  float: left;
  margin-right: 1em;
}
footer {
  color: $footerColor;
  background-color: $footerBackground;
}
hr {
  color: map-get($theme-name, "color-5"); // $bodyBackground;
  border-top: 4px solid $hrBorderTop;
}
nav {
  font-size: 1.1em;
  // background-color: #B2D732;
  color: $navColor;
  background-color: $navBackground; // #ffffff;
  padding: 0.5rem 0;
}
// ul {
//   list-style-type: none;
// }

// From w3.css .w3-animate-opacity
.animate-opacity {
  position: relative;
  animation: opac 1.2s;
}
@keyframes opac {
  from{opacity: 0} to {opacity: 1};
}
.bg-img-home {
  height: 20em;
  background-position: center;
  // padding-top: 2.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/LabuanBajo.jpg');
}
.bg-img-blog {
  height: 18em;
  background-position: center;
  // padding-top: 2.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/LakeBled.jpg');
}
/* Not necessary if not using .card in blog post. */
// .blog-post {
//   background-color: $bodyBackground !important;
//   align-items: flex-end;
// }
/* Only need > p negative margin if image used in body content & wrapped in <p></p> */
.card {
  background-color: $cardBackground;
  width: min-content;
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  // > p {
  //   margin: 0 0 -0.333em 0;
  // }
}
@media (min-width: 1024px) {
  .card {
    width: 100%;
  }
}
.card > * {
  &:last-child {
    padding: 1em;
    flex: 1 1 40%;
  }
}
.flex-nav-container, .flex-footer-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-nav-container > * {
  flex: 0 1 6em;
}
.flex-footer-container {
  justify-content: center;
}
.flex-nav-container :last-child {
  flex: 0 0 auto;
}
.fluid-type {
  font-size: 0.75rem;
}
@media (min-width: 750px) { /* and (min-height: 500px) { */
  .fluid-type {
      font-size: calc(13.5px + 4.5 * (100vw - 750px) / 274);
  }
}
@media (min-width: 1024px) { /*, (min-height: 1300px) { */
  .fluid-type {
      font-size: 1rem;
  }
}
.footer {
  grid-column: 1 / -1;
  padding: 1em;
  margin-top: 1em;
}
.grid-container {
  display: grid;
  column-gap: 1em;
  /* row-gap: 1em; */
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: auto; */
}
.header {
  grid-column: 1 / -1;
}
.main, .post-list {
  // background-color: #fff;
  grid-column: 1 / -1;
  padding: 0 0.5em;
  max-width: 100vw;
}
@media (min-width: 500px) {
  .main, .post-list {
    // background-color: #fff;
    grid-column: 2 / -2;
    padding: 0 1em;
    max-width: 100vw;
  }
}
.nav-bar {
  grid-column: 1 / -1;
}
.pad-sides {
  padding-right: 2rem;
  padding-left: 2rem;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.reverse-colors {
  color: $reverseColor;
  background-color: $reverseBackground;
}
.sticky-top {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.tag {
  border: solid 1px #000000;
  border-radius: 3px;
  padding: 0 0.5em;
}