<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div class="grid-container fluid-type">
      <div class="nav-bar sticky-top">
        {% include navigation.html %}
      </div>
      {% if page.title == 'Home' or page.title == 'Blog' %}
        {% include header.html %}
      {% endif %}
      <div class="main">
        {{ content }}
      </div>
      
      {% if page.title == 'Home' %}
      <div class="post-list">
        {% include posts.html %}
      </div>
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
      {% endif %}
      
    </div>
  </body>
</html>
