<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div class="grid-container fluid-type">
      <div class="logo-container">
        <img src="{{ site.url }}/assets/images/boot_logo.png" />
       </div>
      <div class="nav-bar sticky-top">
        {% include navigation.html %}
      </div>
      {{ content }}
    </div>
  </body>
</html>
